<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme"
        tools:targetApi="31">

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
<!--            android:value="ca-app-pub-5272550552627150~1354682335" />-->


        <activity
            android:name=".common.RateUs"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />

        <activity
            android:name=".Lessons.numpy.NumSort"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.numpy.NumpySearch"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.numpy.JoinNumpy"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.numpy.numpyIter"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.numpy.NDataType"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.numpy.ArrSlicing"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.numpy.ArrIndexing"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.numpy.Numpy_arrays"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.numpy.Int_numpy"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyfile.FDel"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyfile.WFile"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyfile.RFile"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyfile.IntFile"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.modules.REactivity"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.modules.ActivityJson"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.modules.DateTimeModule"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.modules.Rand_ompy"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.modules.MathModule"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.modules.IntroModule"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyadvance.Iterator"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyadvance.UserInput"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyadvance.ErrorHandling"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyadvance.FormatingStrings"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyadvance.VarScope"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyadvance.Inheritance"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyadvance.ClassesPy"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.flow_control.BreakCon"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.flow_control.WhileActivity"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.flow_control.For_Loop"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.flow_control.Ifes"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.flow_control.If_el"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyfun.PassPy"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyfun.lambdaActivity"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyfun.FunDef"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.pyfun.Introdef"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.Collections.Dictionar_y"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.Collections.Setsc"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.Collections.Ctuple"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.Collections.Listc"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.Collections.introcol"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.matopera.MemberShip"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.matopera.IdentityOp"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.matopera.LogOp"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.matopera.CompOpera"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.matopera.Assign"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.matopera.ArithOper"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.matopera.IntOpera"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.datatypes.Bools"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.datatypes.TypeCon"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.datatypes.Pystrmed"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.datatypes.PyString"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.datatypes.Num_met"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.datatypes.Pynum"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.datatypes.PyData"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.datatypes.PyVar"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.basic.PyComments"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.basic.Syntaxs"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.basic.PyState"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.basic.PDis"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.basic.WPCodes"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.basic.InstallPy"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.basic.Introduction"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".quiz.OpenQuiz"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".Lessons.basic.OverviewBasic"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".ui.Myproject"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".ui.Projects"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".ui.Output"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".ui.CompilerPy"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".ui.LessonsActivity"
            android:exported="false"
            android:theme="@style/Theme.PythonLearn.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>